{% extends 'accounts/main_template.html' %}
{% block content %}
{% load widget_tweaks %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
		    {% for field in filter.form %}
		    	{{field.label}}
		    	{{field|add_class:'form-control-sm'}}
		    {% endfor %}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<a href="{% url 'export_orders_csv' %}">Export all Orders</a>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Merchant</th>
					<th>Customer</th>
					<th>Weight</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Note</th>
					<th>Order ID</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}
					<tr>
						<td>{{order.merchant}}</td>
						<td>{{order.customer_name}}</td>
						<td>{{order.product_weight}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td>{{order.note}}</td>
						<td>{{order.id}}</td>
						<td><a class="btn btn-sm btn-info" href="#">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="#">Cancel</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

	{% if orders.has_other_pages %}
	  <ul class="pagination">
		{% if orders.has_previous %}
		  <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in orders.paginator.page_range %}
		  {% if orders.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		  {% else %}
			<li><a href="?page={{ i }}">{{ i }}</a></li>
		  {% endif %}
		{% endfor %}
		{% if orders.has_next %}
		  <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	  </ul>
	{% endif %}
	


{% endblock content %}