{% extends 'accounts/main_template.html' %}
{% block content %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
		    {% for field in filter.form %}
		    	{{field.label}}
		    	{{field|add_class:'form-control-sm'}}
		    {% endfor %}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ newform|crispy }}
				</fieldset>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<a href="{% url 'export_orders_csv' %}">Export all Orders</a>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Assigned</th>
					<th>Merchant</th>
					<th>Customer</th>
					<th>Weight</th>
					<th>Date Ordered</th>
					<th>Status</th>
					<th>Note</th>
					<th>Order ID</th>
					<th>Deliveryman</th>
					<th>Area</th>
					<th>View</th>
					<th>Invoice</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				{% for order in orders %}
					<tr>
						<td>
							{% csrf_token %}
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="{{order.id}}" id="for_action" name="for_action">
								<label class="form-check-label" for="for_action"></label>
							</div>
						</td>
						<td>{{order.merchant}}</td>
						<td>{{order.customer_name}}</td>
						<td>{{order.product_weight}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td>{{order.note}}</td>
						<td>{{order.id}}</td>
						<td>{{order.assigned_to_deliveryman}}</td>
						<td>{{order.delivery_area}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' order.id %}">View</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'detail-pdf' order.id %}">Download</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
					</tr>
				{% endfor %}
						<td>
							<div class="form-check form-group">
								<button class="btn btn-outline-info" type="submit">Change</button>
							</div>
						</form>
						</td>
			</table>
		</div>
	</div>
</div>

	{% if orders.has_other_pages %}
	  <ul class="pagination">
		{% if orders.has_previous %}
		  <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&laquo;</span></li>
		{% endif %}
		{% for i in orders.paginator.page_range %}
		  {% if orders.number == i %}
			<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
		  {% else %}
			<li><a href="?page={{ i }}">{{ i }}</a></li>
		  {% endif %}
		{% endfor %}
		{% if orders.has_next %}
		  <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
		{% else %}
		  <li class="disabled"><span>&raquo;</span></li>
		{% endif %}
	  </ul>
	{% endif %}



{% endblock content %}
