{% extends 'accounts/main_template.html' %}
{% block content %}

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Transaction history</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Order ID</th>
					<th>Received from customer</th>
					<th>Total amount</th>
					<th>Total received</th>
					<th>Due</th>
				</tr>
				{% for th in t_history %}
					<tr>
						<td>{{th.id}}</td>
						<td>৳{{th.received_from_customer}}</td>
						<td>৳{{th.total_amount}}</td>
						<td>৳{{th.total_received}}</td>
						<td>৳{{th.due}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
</div>

{% endblock content %}
