{% extends "registrationUser/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      </div>
      <div class="media">
          <div class="media-body">
              <h2 class="account-heading">Welcome {{ user.username }}!</h2>
              <p class="text-secondary">Name: {{ user.regprofile.your_name }}</p>
              <p class="text-secondary">Email: {{ user.email }}</p>
              <p class="text-secondary">Contact number: {{ user.regprofile.contact_no }}</p>
              <p class="text-secondary">Company name: {{ user.regprofile.company_name }}</p>
              <p class="text-secondary">Company address: {{ user.regprofile.company_address }}</p>
            </div>
      </div>
        <!-- FORM HERE -->
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'update-profile' %}">Update my profile</a>
            </small>
        </div>
    </div>
{% endblock content %}