{% extends "registrationUser/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h2 style="text-align:center">User Profile</h2>
        <div class="pcard">
          <img src="{{ user.profile.image.url }}" width="300px" height="350px">
          <h4>Username: {{ user.username }}</h4>
          <p class="ptitle">Name: {{ user.regprofile.your_name }}</p>
            <p class="ptitle">Email: {{ user.email }}</p>
            <p class="ptitle">Contact number: {{ user.regprofile.contact_no }}</p>
            <p class="ptitle">Company name: {{ user.regprofile.company_name }}</p>
            <p class="ptitle">Company address: {{ user.regprofile.company_address }}</p>
            <p class="ptitle">Payment method: {{ user.regprofile.payment_method }}</p>
            <p class="ptitle">Way of payment: {{ user.regprofile.way_of_payment }}</p>
          <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <p><button><a class="ml-2" href="{% url 'update-profile' %}">Update my profile</a></button></p>
        </div>
        <!-- FORM HERE -->
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="ml-2" href="{% url 'view-map' %}">View location on Map</a>
            </small>
        </div>
    </div>
{% endblock content %}