{% extends "registrationUser/base.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
    <div class="media-body">
      <div class="article-metadata">
        <h2 style="text-align:center">Customer and Product Detail</h2>
        <div class="card">
          <p class="price">Customer name: {{ object.customer_name }}
          <p class="price">Customer email: {{ object.customer_email }}</p>
          <p class="price">Customer phone: {{ object.customer_phone }}</p>
          <p class="price">Product name: {{ object.product_name }}
          <p class="price">Product price: ৳{{object.product_price}}</p>
          <p class="price">Amount: ৳{{object.amount}}</p>
          <p class="price">Order ID: {{object.id}}</p>
          <p><button>Download Detail</button></p>
        </div>
        {% if object.merchant == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
{% endblock content %}