{% extends "registrationUser/base.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
    <div class="media-body">
      <div class="article-metadata">
        <h2 style="text-align:center">Transaction History</h2>
        <div class="card">
          <p class="price">Order ID: {{object.id}}</p>
          <p class="price">Received from customer: ৳{{ object.received_from_customer }}
          <p class="price">Total amount: ৳{{ object.total_amount }}</p>
          <p class="price">Total received: ৳{{ object.total_received }}</p>
          <p class="price">Due: ৳{{ object.due }}
          <p><button>Download Detail</button></p>
        </div>
        {% if object.merchant == user %}
<!--          <div>-->
<!--            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>-->
<!--            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>-->
<!--          </div>-->
        {% endif %}
      </div>
    </div>
  </article>
{% endblock content %}