{% extends "registrationUser/base.html" %}
{% block content %}
  <article class="media content-section">
<!--    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
    <div class="media-body">
      <div class="article-metadata">
        <h2 style="text-align:center">Customer and Product Detail</h2>
        <div class="card">
          <p class="price">Order ID: {{object.id}}</p>
          <p class="price">Customer name: {{ object.customer_name }}
          <p class="price">Customer email: {{ object.customer_email }}</p>
          <p class="price">Customer phone: {{ object.customer_phone }}</p>
          <p class="price">Product name: {{ object.product_name }}
          <p class="price">Product price: ৳{{object.product_price}}</p>
          <p class="price">Product category: {{object.product_category}}</p>
          <p class="price">Product description: {{object.product_description}}</p>
          <p class="price">Product weight: {{object.product_weight}}</p>
          <p class="price">Date created: {{object.date_created}}</p>
          <p class="price">Status: {{object.status}}</p>
          <p class="price">Note: {{object.note}}</p>
          <p class="price">Delivery address: {{object.delivery_address}}</p>
          <p class="price">Delivery instruction: {{object.delivery_instruction}}</p>
          <p class="price">Delivery area: {{object.delivery_area}}</p>
          <p class="price">Service charge: ৳{{object.amount}}</p>
          <p><button>Download Detail</button></p>
        </div>
        {% if object.merchant == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'order-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'order-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
  </article>
{% endblock content %}