{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Runner</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'frontpages/fonts/stylesheet.css' %}" rel="stylesheet">
    <link href="{% static 'frontpages/css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'frontpages/css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'frontpages/css/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontpages/css/meanmenu.css' %}">
    <link href="{% static 'frontpages/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'frontpages/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontpages/css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body class="js">

    <div id="preloader"></div>

    <section class="about-us">
        <div class="logo_menu" id="sticker">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
                        <div class="logo">
                            <a href="{% url 'frontpages-home' %}"><img src="{% static 'frontpages/img/logo.png' %}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="signup mobMenuCol">
                        <nav class="navbar">
                            <!-- Collect the nav links, forms, and other content for toggling -->
                                <ul class="nav navbar-nav navbar-right menu">
                                    <li><a href="{% url 'frontpages-home' %}">Home</a></li>
                                    <li><a href="{% url 'frontpages-about' %}">About</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'order-create' %}">New Order</a></li>
                                        <li><a href="{% url 'order-list' %}">View Order</a></li>
                                        <li><a class="nav-item nav-link" href="{% url 'order-transaction-list' %}">View Transaction</a></li>
                                        <li><a href="{% url 'profile' %}">Profile</a></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                    {% endif %}
                                </ul>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
<!--                    <div class="col-md-3 col-sm-3 col-xs-4 col-lg-3 signup">-->
<!--                        <ul class="nav navbar-nav">-->
<!--                            {% if user.is_authenticated %}-->
<!--                                <li><a href="{% url 'profile' %}">Profile</a></li>-->
<!--                                <li><a href="{% url 'logout' %}">Logout</a></li>-->
<!--                            {% else %}-->
<!--                                <li><a href="{% url 'login' %}">Login</a></li>-->
<!--                                <li><a href="{% url 'register' %}">Sign Up</a></li>-->
<!--                            {% endif %}-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>

    <section class="about_us_area" id="about">
        <div class="container">
            <div class="row page-title">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                    <div class="about_us_content_title">
                        <h2>About us</h2>
                        <h5>Runner Courier Service Ltd is the best E-commerce logistics solution in Bangladesh with the
                            experience, capabilities, functional expertise, technological embedment for integrated
                            logistics solutions or One Umbrella Solutions to the e-commerce industry.</h5>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
<!--                    <div class="about_us_content_title">-->
<!--                        <ul class="breadcrumbs">-->
<!--                            <li><a href="#">home</a></li>-->
<!--                            <li><a href="#">about</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="about_us_content">
                        <p>Runner Courier Service Ltd aims to aid the expanding e-commerce sector of Bangladesh
                            providing tech-first logistics support with exclusive features and talented workforce,
                            Runner Courier Service Ltd set to give the delivery service industry of Bangladesh a
                            brand new pace.

                            Our service to ensure maximum comfort and peace of mind for the online merchants, we have
                            built a basket of tailored features and services. The products in this basket range from
                            picking up products from merchants’ address to collecting COD amount from customers’
                            doorstep and depositing back to merchants’ account - so that the merchant can completely
                            focus on growing and strengthening his core business without worrying about the logistics.

                            We are integrating the merchants in a smart software system, where you can manage all
                            activities of the delivery.

                            The first courier company in Bangladesh where everything is managed by automated software.
                            Our goal, mission & vision is to provide best quality service for satisfying customers.
                        </p>
                        <a href="#">read more <span  class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
                <div class="col-md-offset-1 col-sm-6 col-md-5">
                    <div class="about_car">
                        <img src="{% static 'frontpages/img/rsz_img_9492.png' %}" alt="car">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--start about bottom area-->
    <section class="about-us-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>What we do</h4>
                        <p>We provide service to both merchants and customers.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>Our history</h4>
                        <p>Launched in 2021, this company has been marching on ever since.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                    <div class="single-about-us-bottom">
                        <h4>Our mission</h4>
                        <p>To provide service all over Bangladesh.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--    start client say area-->

<!--    <section class="client-area" id="blog">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-5 col-xs-12 col-sm-8">-->
<!--                    <div class="slients-title">-->
<!--                        <h2>What our clients say</h2>-->
<!--                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 col-sm-6 col-xs-12">-->
<!--                    <div class="single-clients">-->
<!--                        <div class="client-img">-->
<!--                            <img src="img/client.jpg" alt="client">-->
<!--                        </div>-->
<!--                        <div class="client-details">-->
<!--                            <p>“Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam.”</p>-->
<!--                            <h4>John Doe<span>Student</span></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-sm-6 col-xs-12">-->
<!--                    <div class="single-clients">-->
<!--                        <div class="client-img">-->
<!--                            <img src="img/client-2.jpg" alt="client">-->
<!--                        </div>-->
<!--                        <div class="client-details">-->
<!--                            <p>“Lorem ipsum dolor sit amet, consectetuer adipis cing elit, sed diam nonummy nibh euismod tinci dunt ut laoreet dolore magna aliquam.”</p>-->
<!--                            <h4>John Doe<span>Student</span></h4>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->


    <!--start footer area-->

    <section class="footer-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-12 col-lg-4">
                    <div class="single-footer">
                        <h2>Join today!</h2>
                        <p>Explore the world of Runner</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 col-lg-2">
                    <div class="single-footer">
                        <h2>More links</h2>
                        <ul class="list">
                            <li><a href="{% url 'frontpages-home' %}">Home</a></li>
                            <li><a href="{% url 'frontpages-about' %}">About us</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Sign up</a></li>
<!--                            <li><a href="#">Pricing & plans</a></li>-->
<!--                            <li><a href="#">Calculate</a></li>-->
                        </ul>
                    </div>
                </div>
<!--                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">-->
<!--                    <div class="single-footer">-->
<!--                        <h2>We Accepts</h2>-->
<!--                        <a href="#"><img src="img/cards_credt_1.png" alt="#"></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">-->
<!--                    <div class="single-footer clearfix">-->
<!--                        <h2>news latters</h2>-->
<!--                        <input type="text" class="form-control">-->
<!--                        <input type="submit" class="submt-button" value="submit">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
    <!--end of footer area-->

    <!--   start copyright text area-->
    <div class="copyright-area">
        <div class="container">
            <div class="col-xs-12 col-sm-6 col-md-6 text-left">
                <div class="footer-text">
                    <p>Copyright @Runner, All Rights Reserved</p>
                </div>
            </div>
            <div class="col-xs-12  col-sm-6 col-md-6 text-right">
                <div class="footer-text">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-dribbble"></a>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{% static 'frontpages/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'frontpages/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'frontpages/js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'frontpages/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'frontpages/js/slick.min.js' %}"></script>
    <script src="{% static 'frontpages/js/jquery.nav.js' %}"></script>
    <script src="{% static 'frontpages/js/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'frontpages/js/main.js' %}"></script>
</body>

</html>