{% extends "registrationUser/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="orderForm" data-prices-url="{% url 'ajax_load_prices' %}" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Shine Skin</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
          <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
          <script>
            $("#id_delivery_option").change(function () {
              var url = $("#orderForm").attr("data-prices-url");  // get the url of the `load_cities` view
              var delivery_optionId = $(this).val();  // get the selected country ID from the HTML input
              $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                  'delivery_option': delivery_optionId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                  $("#id_service_charge").html(data);  // replace the contents of the city input with the data that came from the server
                }
              });

            });
          </script>
    </div>
{% endblock content %}